<label class="chip"><input type="radio" name="Задача" value="Разбор сайта" checked><span>Бесплатный разбор</span></label>
            <label class="chip"><input type="radio" name="Задача" value="Редизайн лендинга"><span>Лендинг</span></label>
            <label class="chip"><input type="radio" name="Задача" value="Редизайн корпоративного сайта"><span>Корпоративный сайт</span></label>
            <label class="chip"><input type="radio" name="Задача" value="Редизайн интернет-магазина"><span>Интернет-магазин</span></label>
