<section class="section" id="works">
  <div class="wrap">
    <div class="section__head">
      <h2 class="h2">{{title}}</h2>
      <p class="lead">{{lead}}</p>
    </div>
    <div class="works is-short">
      <a class="work" href="https://elenaash.com/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/elenaash-d.webp" alt="Главная страница elenaash.com" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>Elena Ash</b><span>Специалист по недвижимости</span></div>
      </a>
      <a class="work" href="https://bikeking.by/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/bikeking-d.webp" alt="Главная страница bikeking.by" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>BikeKing</b><span>Интернет-магазин велосипедов</span></div>
      </a>
      <a class="work" href="https://belretsepty.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/belretsepty-d.webp" alt="Главная страница belretsepty.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>Belretsepty</b><span>Колбасные изделия</span></div>
      </a>
      <a class="work" href="https://profnk.by/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/profnk-d.webp" alt="Главная страница profnk.by" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>ПРОФ НК</b><span>Строительная организация</span></div>
      </a>
      <a class="work" href="https://posudaplanet.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/posuda-d.webp" alt="Главная страница posudaplanet.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>Posuda Planet</b><span>Интернет-магазин посуды</span></div>
      </a>
      <a class="work" href="https://sewera.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/sewera-d.webp" alt="Главная страница sewera.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>SEWERA</b><span>Инженерные коммуникации</span></div>
      </a>
      <a class="work" href="https://spmk.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/spmk-d.webp" alt="Главная страница spmk.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>СПМК</b><span>Мясное производство</span></div>
      </a>
      <a class="work" href="https://itcdeb.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/deb-d.webp" alt="Главная страница itcdeb.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>ДЭБ</b><span>Безопасность промышленного оборудования</span></div>
      </a>
      <a class="work" href="https://nplanner.ru/" target="_blank" rel="noopener">
        <div class="browser"><div class="browser__bar"><i></i><i></i><i></i><em></em></div><div class="browser__screen"><img src="assets/img/works/niap-d.webp" alt="Главная страница nplanner.ru" width="1440" height="900" loading="lazy"></div></div>
        <div class="work__meta"><b>НИАП</b><span>Сервис анализа питания</span></div>
      </a>
    </div>
    <div class="works__more"><button class="btn btn--ghost" type="button" data-more>Показать все работы</button></div>
  </div>
</section>
